.chatbot{
    width: 50%;
    margin: 1%;
}

.messages{
    display: flex;
    flex-direction: column;
    align-items: start;
    width:100%
}
.userMessage{
    display: flex;
    flex-direction: row-reverse;
    width:100%
}
.botMessage{
    display: flex;
    flex-direction: row;
    width:100%
}

.botMessage .messageText{
    padding: 1% 5%;
    background-color: lightgray;
}
.userMessage .messageText{
    padding: 1% 5%;
    background-color: lightskyblue;
}

.messageForm{
    display: flex;
    flex-direction: row;
    margin: 5%;
    width: 90%;
}
.messageFormInput{
    width: 70%;
}
.messageFormButtons{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 28%;
    margin: 1%;
}